{% extends 'core/base.html' %}
{% load static %}
{% block title %}Editar Incidencia{% endblock %}
{% block css_extra %}
<link href="{% static 'core/assets/css/custom_ckeditor.css' %}" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% block content %}

  {{form.folio.errors}}
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
         <form method="POST" >{% csrf_token %}
          <div class="form-row mt-2">
            <div class="col-md-2 mb-2">
                <label for="id_folio">Ticket</label>
                {{form.folio}}

            </div>
           <div class="col-md-2 mb-2">
                <label for="id_estado">Estado</label>
                 {{form.estado}}
            </div>
             <div class="col-md-2 mb-2">
                 <label for="id_msr">MSR</label>
                     {{form.msr}}
                    <div class="invalid-feedback">
                    Escriba bien.
                  </div>
                </div>
             <div class="col-md-2 mb-2">
                 <label for="id_noti">NOT</label>
                     {{form.noti}}
                </div>
               <div class="col-md-2 mb-2">
                    <label for="id_region">Región</label>
                     {{form.region}}
                </div>
              <div class="col-md-2 mb-2">
                    <label for="id_nemonico">Nemónico</label>
                     {{form.nemonico}}
                </div>
          </div>
            <!--Cierre del row -->
             <div class="form-row mt-2">
                <label for="id_description">Descripción</label>
                {{form.description}}
                 </div>

                      <div class="form-row mt-2">
                           <div class="col-md-6 mb-6">
                             <label for="id_inicio_afectacion">Inicio de Afectación</label>
                             {{form.inicio_afectacion}}
                            </div>
                             <div class="col-md-6 mb-6">
                             <label for="id_calendarizacion">Calendarización</label>
                                 {{form.calendarizacion}}

                             </div>


                      </div>
              <!--Cierre del row -->

             <div class="form-row mt-2">
                           <div class="col-md-6 mb-6">
                             <label for="id_ultima_actualizacion">Última Actualización</label>
                             {{form.ultima_actualizacion}}

                            </div>
                             <div class="col-md-6 mb-6">
                                  <label for="id_proxima_actualizacion">Próxima Actualización</label>

                         {{form.proxima_actualizacion}}
                                 
                        </div>
                      </div>
              <!--Cierre del row -->
                  <div class="form-row mt-2">
                           <div class="col-md-12 mb-12">
                             <label for="id_elemento">Elemento</label>
                             {{form.elemento}}
                            </div>
                          </div>

              <button class="btn btn-primary  form-control mt-2" type="submit">Editar</button>
            </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block js_extra %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<script type="text/javascript">
    // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
    window.addEventListener("DOMContentLoaded", function () {
        flatpickr("#id_inicio_afectacion", {
            enableTime: true,
            enableSeconds: true,
            dateFormat: "Y-m-d H:i:S",
        });
    });
</script>
<script type="text/javascript">
    // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
    window.addEventListener("DOMContentLoaded", function () {
        flatpickr("#id_ultima_actualizacion", {
            enableTime: true,
            enableSeconds: true,
            dateFormat: "Y-m-d H:i:S",
        });
    });
</script>
<script type="text/javascript">
    // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
    window.addEventListener("DOMContentLoaded", function () {
        flatpickr("#id_proxima_actualizacion", {
            enableTime: true,
            enableSeconds: true,
            dateFormat: "Y-m-d H:i:S",
        });
    });
</script>
<script type="text/javascript">
    // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
    window.addEventListener("DOMContentLoaded", function () {
        flatpickr("#id_calendarizacion", {
            enableTime: true,
            enableSeconds: true,
            dateFormat: "Y-m-d H:i:S",
        });
    });
</script>

{% endblock %}