{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
    <!-- INICIO DE LA TARJETA -->
        <div class="container">
          <div class="card text-center my-3">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>Bitacora Operacional de Inetum</strong></h5>
              <p class="card-text">El siguiente contenido es confidencial, cualquier uso indebido será fuertemente sancionado...</p>
            </div>
          </div>
        </div>
    <!-- /FIN DE LA TARJETA -->
{% endblock %}